<div class="d-flex">
    <table class="table table-striped table-sm table-responsive">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Kontener</th>
        </thead>
        <tbody>
            {% for container in response %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <span>Nazwa kontenera: {{ container.attrs.Name }}</span><br>
                    <span>ID: {{ container.id }}</span><br>
                    <span>Short ID: {{ container.short_id }}</span><br>
                    <span>Obrazy: {{ container.attrs.Image }}</span><br>
                    <span>ID obrazu: {{ container.attrs.Image }}</span><br>
                    <span>Komendy: {{ container.attrs.Path }} {{ container.attrs.Args }}</span><br>
                    <span>Status: {{ container.status }}</span><br>
                    {% if container.attrs.NetworkSettings.Ports %}
                    <span>Porty:</span>
                    <ul>
                        {% for key, value in container.attrs.NetworkSettings.Ports.items() %}
                            <li>{{ key }}
                                <ul>
                                {% for val in value %}
                                    <li> {{ val.HostIp }} : {{ val.HostPort }} </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if container.attrs.Mounts %}
                        <span>Mounts:</span>
                        <ul>
                        {% for mount in container.attrs.Mounts %}
                            <li>{{ mount.Type }} -- {{ mount.Source }} -> {{ mount.Destination }}:{{ mount.Mode }}, Propagation - {{ mount.Propagation }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
{#                <span>{{ container.attrs }}</span><br>#}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
