<!--Tu powinien być input text z komendą i input z id kontenera, możliwośc pobrania listy koneterów, + możliwość predefionwoania komend w pliku konfiguracyjnym np. w liście roziwjanej nginx -s reload -->
<div class="d-flex flex-column">
    <form class="p-3" action="/management?docker_engine={{ dockerEngines }}&command=exec" method="POST">
        <h3>Exec</h3>
        <div class="row p-1">
            <div class="col-md-5">
                <label>Kontener</label>
                <select class="form-control" name="container-id">
                    {% for container in response %}
                    <option value="{{ container.short_id }}" {% if container.status == "exited" %} disabled {% endif %}> {{ container.attrs.Name }} ({{ container.short_id }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5">
                <label>Polecenie</label>
                <input type="text" class="form-control" name="command">
            </div>
            <div class="col-md-2 d-flex">
                <div class="align-self-end">
                    <button class="btn btn-secondary" type="submit">Wykonaj</button>
                </div>
            </div>
        </div>
    </form>
    <div class="p-3">
        {% if result %}
        Kod wyjściowy: {{ result.exit_code }}<br>
        Rezultat: {{ result.output }}
        {% endif %}
    </div>
</div>

