{% extends "index.html" %}
{% block application %}
    <div class="d-flex text-center" style="height: 100vh">
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="d-flex justify-content-center float-md-start p-2 m-0"><a href="./" class="navbar-brand">Docker Tool</a></h3>
                    <nav class="navbar navbar-expand-sm justify-content-center float-md-end">
                        <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                            <li class="nav-item">
                                <a class="nav-link" href="./registry">Registry Viewer</a>
                            </li>
                            <li>
                                <a class="nav-link" href="./management">Docker management</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="px-3">
                <h1>Błąd {{ error_code }}</h1>
                <p class="lead">{{ error_message }}</p>
            </div>
            <div class="mt-auto"></div>
        </div>
    </div>
{% endblock %}