<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Docker Registry Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body class="height: 100%">
    <main class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Docker Tool</h1>
                <p class="col-md-8 fs-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, doloribus ea explicabo impedit libero minima, mollitia nostrum porro quas quasi, sapiente totam voluptate voluptatum! At dicta distinctio exercitationem quasi ut.
                </p>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Registry Viewer</h2>
                    <p>
                        Uzyskaj listę dopstępnych repozytoriów ze wskazanego w konfiguracji rejestru Docker Registry 2.0
                    </p>
                    <a href="./registry">
                        <button class="btn btn-outline-light" type="button">Otwórz</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Docker management</h2>
                    <p>
                        Zarządzaj kontenerami (i nie tylko) w środowisku wskazanym w konfiguracji
                    </p>
                    <a href="./management">
                        <button class="btn btn-outline-light" type="button">Otwórz</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>