<div>
    <ul class="list-group list-group-horizontal flex-wrap">
        <li class="list-group-item">
                <span class="pt-1">
                    <a class="link-secondary"
                       href="./management?docker_engine={{ dockerEngines }}&command=info">Info</a>
                    <span class="d-block text-muted">Informacje o serwerze</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <a class="link-secondary"
                       href="./management?docker_engine={{ dockerEngines }}&command=containerList">Containers</a>
                    <span class="d-block text-muted">Wyświetl listę kontenerów</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <a class="link-secondary" href="./management?docker_engine={{ dockerEngines }}&command=imagesList">Images</a>
                    <span class="d-block text-muted">Wyświetl listę obrazów</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <a class="link-secondary"
                       href="./management?docker_engine={{ dockerEngines }}&command=exec">Exec</a>
                    <span class="d-block text-muted">Wykonaj komendę w kontenerze</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <span>Volumes</span>
                    <span class="d-block text-muted">Wyświetl listę woluminów</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <span>Networks</span>
                    <span class="d-block text-muted">Wyświetl listę sieci</span>
                </span>
        </li>
        <li class="list-group-item">
                <span class="pt-1">
                    <span>Plugins</span>
                    <span class="d-block text-muted">Wyświetl listę pluginów</span>
                </span>
        </li>
    </ul>
</div>
