{% if not docker_engine %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <span class="text-warning h3">Wybierz serwer w celu uzyskania dostępu</span>
    </div>
{% else %}
    <div>
        {% if 'info' == command %}
            {%  include "commandViews/infoContent.html" %}
        {% elif "containersList" == command  %}
            {%  include "commandViews/containersListContent.html" %}
        {% elif "imagesList" == command %}
            {%  include "commandViews/imagesListContent.html" %}
        {% elif "exec" == command %}
            {%  include "commandViews/execContent.html" %}
        {% elif "volumesList" == command %}
            {%  include "commandViews/volumesListContent.html" %}
        {% elif "networksList" == command %}
            {%  include "commandViews/networksListContent.html" %}
        {% elif "pluginsList" == command %}
            {%  include "commandViews/pluginsListContent.html" %}
        {% endif %}
    </div>
{% endif %}