{% extends "index.html" %}
{% block application %}
    <div class="row g-0" style="min-height: 100vh">
        <div class="d-flex flex-column p-3 text-white bg-dark col-12 col-sm-12 col-md-4 col-xxl-2">
            <h1>Docker registry</h1>
            <hr>
            <span>Dostępne repozytoria</span>
            <ul class="nav nav-pills flex-column mb-auto" id="navigation">
            {% for item in get_repositories() %}
                <li class="nav-item">
                    <a class="link-secondary" href="./registry?repository={{ item }}">{{ item }}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="p-1 col-12 col-sm-12 col-md-4 col-xxl-2" style="position: fixed; left: 0; bottom: 0">
                <hr>
                <span>Podłączony rejestr: {{ registry }}</span>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-xxl-10">
            {% include "registryContent.html" %}
        </div>
    </div>
{% endblock %}
